<div>
  <div class="global-nav">
    <a href="#home" id="home">andrew baldock</a> |
    <a href="#nimbus" id="nimbus">demo app</a> |
    <a href="#skylab" id="skylab">skylab</a>
  </div>
  <div class="container"></div>
</div>
