.nimbus p {
  font-size: 36px;
  color: #43609C;
  margin-top: 5px;
}
.nimbus .logo {
  background-image: url('/img/favicon.png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 30px;
}
