<div class="nimbus">
  <div class="logo"></div>
  <p class="title">nimbus</p><br>
  <p class="description">seed for mobile-friendly single page application<br>using require, backbone, bower, node and express</p><br>
  <a href="https://github.com/andrewbaldock/nimbus">github.com/andrewbaldock/nimbus</a>
</div>
