.skylab p {
  font-size: 36px;
  color: #43609C;
}
.skylab .track {
    display: inline-block;
    float:left;
    height: 150px;
    width: 120px;
    margin: 15px;
    overflow-y: hidden;
}
.skylab .track img {
    height:100px;
    width:100px;
}
.skylab a.track {
    text-decoration: none;
    font-size:14px;
    color: rgb(17, 111, 160);
}
