.skylab-body {
  background-color: #4CC0D1;
}
.skylab-body .app-content {
  background-color: #F2F2F2;
}


.skylab p {
  font-size: 14px;
  color: #43609C;
}
.skylab .tracks {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  /*margin: 3%;*/
}
.skylab .track-container {
  margin: 5px;
  padding: 11px 6px 3px;
}
.skylab .track {
  flex: 0 0 150px;
  width: 20%;
}
.skylab .track img {
  height:120px;
  width:120px;
}
.skylab a.track {
  text-decoration: none;
  font-size:14px;
  color: rgb(17, 111, 160);
}
.skylab .track p {
  font-size: 12px;
  display: inline-block;
  max-width: 120px;
  overflow-y: hidden;
}

.skylab #search,
.skylab .search-start {
  height: 30px;
  font-size: 20px;
}
.skylab #search {
  padding-left: 10px;
}
.skylab .search-start {
  background: #4CC0D1;
  color: #FFF;
  border-radius: 5px;
  border: 1px solid rgba(134, 134, 134, 0.55);
  padding: 2px 10px;
  line-height: 23px;
  height: 34px;
  display: inline-block;
}
.skylab .search-start:hover {
    background: rgb(0, 222, 255);
}

/* Side-drawer
----------------------------------------------- */
.skylab .side-drawer {

}


/* SPINKIT overrides
----------------------------------------------- */
.skylab .sk-spinner-wave.sk-spinner {
  width: 100%!important;
  height: 100px;
}

.skylab .sk-spinner-wave div,
.skylab .sk-spinner-wave div,   {
  width: 50px!important;
}

.skylab .sk-spinner-wave div.cycle {
  animation: colorchange 10s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 10s; /* Chrome and Safari */

}

@keyframes colorchange
{
  0%   {background-color: pink;}
  25%  {background-color: purple;}
  50%  {background-color: blue;}
  75%  {background-color: pink;}
  100% {background-color: purple;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background-color: pink;}
  25%  {background-color: purple;}
  50%  {background-color: blue;}
  75%  {background-color: pink;}
  100% {background-color: purple;}
}

