<div class="home">
  <p class="title">Home</p>
  <br>
  <p class="description">this is another sample page for the application</p>
  <br>
  <a href="http://andrewbaldock.com">return to andrewbaldock.com</a>
</div>
