<div>
<div class="skylab">
  <br>
  <h2>Search Soundcloud</h2>
  <br>
  <input type="text" name="search" id="search" value="Satin Jackets">
  <button class="search-start">Check it</button>
  <br><br><br>
  <div class="tracks-container"></div>
  <div class="response"></div>
</div>
</div>
