<p class="responsive-message start-hidden">results are responsive -- try resizing the browser</p>
<div class="tracks">
  <br><br>

    <div class="sk-spinner sk-spinner-wave spinner start-hidden">
      <div class="sk-rect1 wave">
        <div class="cycle"></div>
      </div>
      <div class="sk-rect2 wave">
        <div class="cycle"></div>
      </div>
      <div class="sk-rect3 wave">
        <div class="cycle"></div>
      </div>
      <div class="sk-rect4 wave">
        <div class="cycle"></div>
      </div>
      <div class="sk-rect5 wave">
        <div class="cycle"></div>
      </div>
    </div>

    <div class="load-message start-hidden">No results found</div>

</div>
