/* RESET
-----------------------------------------------*/

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code, form,
fieldset, legend, input, textarea, p, blockquote,
th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, dfn, th, var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

/* GLOBAL
-----------------------------------------------*/
.start-hidden {
    display: none;
}

body,
html {
  overflow-x:hidden;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  width: 100%;
  display: flex;
  color: #5C68A2;
}

div {
    transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: #009BC8;
}

a:hover {
  opacity: 0.7;
  cursor: pointer;
}

.global-nav,
.title {
  font-family: 'Montserrat', Arial, Helvetice Neue, sans-serif;
}

.global-nav a.clicked {
  color: #5C68A2;
  font-weight: 800;
}

.app-content {
  border: 1px solid #555;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  position: inherit;
  padding: 5%;
  margin: 5%;
  text-align: center;
}

.description {
  font-size: 13px;
}


